# rm -> trash (do NOT use --save here)
alias rm '/home/lewis/.local/bin/trash'

# sudo wrapper: if "sudo rm ..." then use trash as root
function sudo
    if test (count $argv) -ge 1; and test "$argv[1]" = "rm"
        command sudo /home/lewis/.local/bin/trash $argv[2..-1]
    else
        command sudo $argv
    end
end