# rm -> trash (do NOT use --save here)
alias rm '/home/lewis/.local/bin/trash'

# pkexec wrapper: if "pkexec rm ..." then use trash as root
function pkexec
    if test (count $argv) -ge 1; and test "$argv[1]" = "rm"
        command pkexec /home/lewis/.local/bin/trash $argv[2..-1]
    else
        command pkexec $argv
    end
end
